/* Réinialisation mot de passe */
.password-reset-form {
    margin: 0;
    padding: 0;
    background-image: url('../img/fond-connexion.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.password-reset-form .container {
    background-color: #e8e5ef;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    height: 410px;
}

.password-reset-form h2 {
    margin-bottom: 20px;
}

.password-reset-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.password-reset-form .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}

.password-reset-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-reset-form .form-group button {

    background-color: #9b645a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 17px;
    font-size: 15px;
}

.password-reset-form .form-group button:hover {

    background-color: #6e6f8b;
}

.form button a {
    color: white;

}

.password-reset-form h2 {
    font-family: "Sedan SC", serif;
    font-size: 1.7em;

}

.succee_message {
    font-size: 20px;
    font-weight: bold;
    color: violet;
}

button {
    background-color: #9b645a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 17px;
    font-size: 15px;
}

button:hover {
    background-color: #6e6f8b;
}